{{#each this.tool.options as |opt|}}
  {{#if (is-equal opt.type 'color')}}
    <div class='col-xs-3 col-sm-4 form-group'>
      <label>
        {{opt.name}}
      </label>
      {{color-palette
        selected=(get this.tool opt.id)
        onselect=(action this.updateOptionValue this.tool opt.id)
      }}
    </div>
  {{else if (is-equal opt.type 'width')}}
    <div class='col-xs-3 col-sm-4 form-group'>
      <label>
        {{opt.name}}
      </label>
      {{#power-select
        options=(get
          this.optionsData (concat (tool-id this.tool) '.strokeWeights')
        )
        selected=this.tool.style.strokeWeight
        searchEnabled=false
        onChange=(action this.updateOptionValue this.tool opt.id) as |width|
      }}
        {{width}}
      {{/power-select}}
    </div>
  {{else if (is-equal opt.type 'size')}}
    <div class='col-xs-3 col-sm-4 form-group'>
      <div>
        <label>
          {{opt.name}}
        </label>
      </div>

      {{#power-select
        options=(get this.optionsData (concat (tool-id this.tool) '.fontSizes'))
        selected=this.tool.style.fontSize
        searchEnabled=false
        onChange=(action this.updateOptionValue this.tool opt.id) as |size|
      }}
        {{size}}
      {{/power-select}}
    </div>
  {{else if (is-equal this.mode 'measure')}}
    {{#if (is-equal opt.type 'distanceUnit')}}
      <div class='col-xs-3 col-sm-4 form-group'>
        <div>
          <label>
            {{opt.name}}
          </label>
        </div>
        {{#power-select
          options=(get
            this.optionsData (concat (tool-id this.tool) '.distanceUnits')
          )
          selected=this.tool.distanceUnit
          searchEnabled=false
          onChange=(action this.updateOptionValue this.tool opt.id) as |unit|
        }}
          <strong>
            {{unit.display}}
          </strong>
        {{/power-select}}
      </div>
    {{/if}}
  {{/if}}
{{/each}}