{{#each tool.options as |opt|}}
  {{#if (is-equal opt.type 'color')}}
    <div class='col-xs-12 col-sm-3 form-group'>
      <label>{{opt.name}}</label>
      {{color-palette selected=(get tool opt.id)
        onselect=(action updateOptionValue tool opt.id)}}
    </div>
  {{else if (is-equal opt.type 'width')}}
    <div class='col-xs-12 col-sm-3 form-group'>
      <label>{{opt.name}}</label>
      {{#power-select
        options=tool.strokeWeights
        selected=tool.style.strokeWeight
        searchEnabled=false
        onchange=(action updateOptionValue tool opt.id)
        as |width|
      }}
    {{width}}
    {{/power-select}}
    </div>
  {{else if (is-equal opt.type 'size')}}
    <div class="col-xs-12 col-sm-3 form-group">
      <div><label>{{opt.name}}</label></div>
      {{#power-select
        options=tool.fontSizes
        selected=tool.style.fontSize
        searchEnabled=false
        onchange=(action updateOptionValue tool opt.id)
        as |size|
      }}
        {{size}}
      {{/power-select}}
    </div>
  {{else if (is-equal mode 'measure')}}
    {{#if (is-equal opt.type 'distanceUnit')}}
      <div class='col-xs-12 col-sm-3 form-group'>
        <div><label>{{opt.name}}</label></div>
        {{#power-select
          options=tool.distanceUnits
          selected=tool.distanceUnit
          searchEnabled=false
          onchange=(action updateOptionValue tool opt.id)
          as |unit|
        }}
          <strong>{{unit.display}}</strong>
        {{/power-select}}
      </div>
    {{/if}}
  {{/if}}
{{/each}}