{{! template-lint-disable no-invalid-interactive}}
<div
  class='item-header'
  {{on 'mouseenter' @onOverHeader}}
  {{on 'mouseleave' @onOutHeader}}
>
  <b>
    {{this.data.name}}
  </b>{{if this.description ':'}}
  {{this.description}}
  <button
    type='button'
    class='btn btn-link btn-xs'
    {{on 'click' (fn @ontoggle this.data undefined)}}
  >
    <i class="fa {{if this.data.isVisible 'fa-eye-slash' 'fa-eye'}}"></i>
  </button>

  <div class='pull-right'>
    {{#if this.data.editing}}
      <button
        type='button'
        class='btn btn-default btn-xs'
        {{on 'click' (fn this.ok this.data.feature.position)}}
      >
        OK
      </button>
    {{else if this.data.isEditable}}
      <button
        type='button'
        class='btn btn-default btn-xs'
        {{on 'click' (fn this.edit this.data.feature.position)}}
      >
        Edit
      </button>
    {{/if}}

    <button
      type='button'
      class='btn btn-danger btn-xs'
      {{on 'click' (fn @onremove this.data)}}
    >
      Remove
    </button>
  </div>
</div>

{{#if this.data.editing}}
  {{#if this.editable}}
    {{#ember-wormhole to='google-maps-markup-infowindow' viewName='wormhole'}}
      {{#if this.shapeModified}}
        <button
          type='button'
          class='btn btn-warning btn-sm'
          {{on 'click' this.cancelEditShape}}
        >
          Reset Shape
        </button>
      {{/if}}

      <button
        type='button'
        class='btn btn-default btn-sm'
        {{on 'click' this.toggleEditShape}}
      >
        {{if this.data.editingShape 'Finish Editing' 'Edit Shape'}}
      </button>
    {{/ember-wormhole}}
  {{/if}}

  {{#if this.data.isEditable}}
    {{#if this.data.options}}
      {{gmm-tool-options
        tool=this.data
        updateOptionValue=this.updateOptionValue
      }}
    {{/if}}
  {{/if}}
{{/if}}