<b>{{data.name}}</b>
{{~if description ':'}}
{{description}}
<button type="button" class="btn btn-link btn-xs" onclick={{action ontoggle data undefined}}>
  <i class="fa {{if data.isVisible 'fa-eye-slash' 'fa-eye'}}"></i>
</button>

<div class="pull-right">
  {{#if data.editing}}
    <button type="button" class="btn btn-default btn-xs" onclick={{action 'ok' data.feature.position}}>
      OK
    </button>
  {{else}}
    <button type="button" class="btn btn-default btn-xs" onclick={{action 'edit' data.feature.position}}>
      Edit
    </button>
  {{/if}}

  <button type="button" class="btn btn-danger btn-xs" onclick={{action onremove data}}>
    Remove
  </button>
</div>

{{#if data.editing}}
  {{#if editable}}
    {{#ember-wormhole to="google-maps-markup-infowindow" viewName="wormhole"}}
      {{#if shapeModified}}
        <button type="button" class="btn btn-warning btn-sm" {{action 'cancelEditShape'}}>
          Reset Shape
        </button>
      {{/if}}

      <button type="button" class="btn btn-default btn-sm" {{action 'toggleEditShape'}}>
        {{if data.editingShape 'Finish Editing' 'Edit Shape'}}
      </button>
    {{/ember-wormhole}}
  {{/if}}

  {{#unless data.isEditable}}
    {{#if data.options}}
      {{gmm-tool-options tool=data
        updateOptionValue=(action 'updateOptionValue')}}
    {{/if}}
  {{/unless}}
{{/if}}
