<b>{{data.name}}</b>
{{~if description ':'}}
{{description}}
<button type="button" class="btn btn-link btn-xs" onclick={{action ontoggle data undefined}}>
  <i class="fa {{if data.isVisible 'fa-eye-slash' 'fa-eye'}}"></i>
</button>

<div class="pull-right">
  {{#if editable}}
    {{#if data.editing}}
      <button type="button" class="btn btn-default btn-xs" onclick={{action 'ok' data.feature.position}}>
        OK
      </button>
    {{/if}}
   {{#unless data.editing}}
      <button type="button" class="btn btn-default btn-xs" onclick={{action 'edit' data.feature.position}}>
        Edit
      </button>
   {{/unless}}
  {{/if}}

  <button type="button" class="btn btn-danger btn-xs" onclick={{action onremove data}}>
    Remove
  </button>
</div>

{{#if data.editing}}
  {{#ember-wormhole to="google-maps-markup-infowindow" viewName="wormhole"}}
    {{#if shapeModified}}
      <button type="button" class="btn btn-warning btn-sm" {{action 'cancelEditShape'}}>
        Reset Shape
      </button>
    {{/if}}

    <button type="button" class="btn btn-default btn-sm" {{action 'toggleEditShape'}}>
      {{if data.editingShape 'Finish Editing' 'Edit Shape'}}
    </button>
  {{/ember-wormhole}}
  {{#unless data.isEditable}}
    {{#if data.options}}
      {{#each data.options as |opt|}}
        {{#if opt.fillOptional}}
          {{input type="checkbox" click=(action "fillOpacity") checked=(get data opt.id)}}
        {{/if}}
        {{#if (is-equal opt.type 'color')}}
          <div class="form-group">
            <label>{{opt.name}}</label>
            {{color-palette selected=(get data opt.id) onselect=(action 'updateOptionValue' data opt.id)}}
          </div>
        {{/if}}
      {{/each}}
    {{/if}}
  {{/unless}}
{{/if}}
