<b>{{data.type}}</b>
{{~if description ':'}}
{{description}}
<button type="button" class="btn btn-link btn-xs" onclick={{action ontoggle data undefined}}>
  <i class="fa {{if data.isVisible 'fa-eye-slash' 'fa-eye'}}"></i>
</button>

<div class="pull-right">
  {{#if editable}}
    <button type="button" class="btn btn-default btn-xs" onclick={{action 'edit'}}>
      Edit
    </button>
  {{/if}}
  <button type="button" class="btn btn-danger btn-xs" onclick={{action onremove data}}>
    Remove
  </button>
</div>

{{#if data.editing}}
  {{#ember-wormhole to="google-maps-markup-infowindow" viewName="wormhole"}}
    {{#if shapeModified}}
      <button type="button" class="btn btn-warning btn-sm" {{action 'cancelEditShape'}}>
        Reset Shape
      </button>
    {{/if}}

    <button type="button" class="btn btn-default btn-sm" {{action 'toggleEditShape'}}>
      {{if data.editingShape 'Finish Editing' 'Edit Shape'}}
    </button>
  {{/ember-wormhole}}
{{/if}}
