<b>{{data.type}}</b>
{{~if description ':'}}
{{description}}
<button type="button" class="btn btn-link btn-xs" onclick={{action ontoggle data}}>
  <i class="fa {{if data.isVisible 'fa-eye-slash' 'fa-eye'}}"></i>
</button>
<button type="button" class="btn btn-danger btn-xs pull-right" onclick={{action onremove data}}>
  Remove
</button>
