{{! template-lint-disable no-invalid-interactive}}
<div
  class='item-header'
  {{on 'mouseenter' @onOverHeader}}
  {{on 'mouseleave' @onOutHeader}}
  {{will-destroy this.beforeRemove}}
>
  <b>
    {{@data.name}}
  </b>

  {{if this.description ':'}}
  {{this.description}}

  <button
    type='button'
    class='btn btn-link btn-xs'
    {{on 'click' (fn @ontoggle @data undefined)}}
  >
    <i class="fa {{if @data.isVisible 'fa-eye-slash' 'fa-eye'}}"></i>
  </button>

  <div class='pull-right'>
    {{#if @data.editing}}
      <button
        type='button'
        class='btn btn-default btn-xs'
        {{on 'click' this.ok}}
      >
        OK
      </button>
    {{else if @data.isEditable}}
      <button
        type='button'
        class='btn btn-default btn-xs'
        {{on 'click' this.edit}}
      >
        Edit
      </button>
    {{/if}}

    <button
      type='button'
      class='btn btn-danger btn-xs'
      {{on 'click' (fn @onremove @data)}}
    >
      Remove
    </button>
  </div>
</div>

{{#if @data.editing}}
  {{#if @editable}}
    {{#if @popupElement}}
      <EmberWormhole @destinationElement={{@popupElement}}>
        {{#if this.shapeModified}}
          <button
            type='button'
            class='btn btn-warning btn-sm'
            {{on 'click' this.cancelEditShape}}
          >
            Reset Shape
          </button>
        {{/if}}

        <button
          type='button'
          class='btn btn-default btn-sm'
          {{on 'click' this.toggleEditShape}}
        >
          {{if @data.editingShape 'Finish Editing' 'Edit Shape'}}
        </button>
      </EmberWormhole>
    {{/if}}
  {{/if}}

  {{#if @data.isEditable}}
    {{#if @data.options}}
      <GmmToolOptions
        @tool={{@data}}
        @updateOptionValue={{this.updateOptionValue}}
      />
    {{/if}}
  {{/if}}
{{/if}}