{{#if @results}}
  <h4>
    Results
  </h4>
  <div class='form-group'>
    <button
      type='button'
      class='btn btn-default'
      title='Clear Results'
      {{on 'click' @onClearAll}}
    >
      Clear All
    </button>
    <button
      type='button'
      class='btn btn-default'
      title="{{if @resultsHidden 'Show' 'Hide'}} Results"
      {{on 'click' @onToggleAll}}
    >
      {{if @resultsHidden 'Show' 'Hide'}} All
    </button>
  </div>

  <SortableObjects
    @sortableObjectList={{@results}}
    @sortEndAction={{this.sortEndAction}}
    @tagName='ul'
    class='list-group results-list'
  >
    {{#each @results as |result|}}
      <DraggableObject
        @content={{result}}
        @isSortable={{true}}
        @dragHandle='.item-header'
        @tagName='li'
        class='list-group-item clearfix'
      >
        {{yield result}}
      </DraggableObject>
    {{/each}}
  </SortableObjects>
{{/if}}