<div
  class='google-maps-markup'
  ...attributes
  {{will-destroy this.beforeRemove}}
  {{did-update this.setup @map}}
>
  <h4>
    Mode
  </h4>

  <div class='btn-group form-group' role='group' aria-label='Markup Modes'>
    {{#each this.modes as |item|}}
      <button
        type='button'
        class="btn btn-default


          {{if (is-equal item.id this.markupData.mode) 'active'}}"
        title={{item.title}}
        {{on 'click' (fn this.changeMode item)}}
      >
        <i class="fa {{item.icon}}"></i>
        {{item.name}}
      </button>
    {{/each}}
  </div>

  <h4>
    Tools
  </h4>

  {{#if (is-equal this.markupData.mode 'draw')}}
    <div class='form-group tools-group' role='group' aria-label='Drawing Tools'>
      {{#each this.drawTools as |tool|}}
        <button
          type='button'
          class="btn btn-default {{if (is-equal tool.id this.toolId) 'active'}}"
          title={{tool.title}}
          {{on 'click' (fn this.changeTool tool.id)}}
        >
          {{tool.name}}
        </button>
      {{/each}}
    </div>
  {{else if (is-equal this.markupData.mode 'measure')}}
    <div class='form-group tools-group' role='group' aria-label='Measure Tools'>
      {{#each this.measureTools as |tool|}}
        <button
          type='button'
          class="btn btn-default {{if (is-equal tool.id this.toolId) 'active'}}"
          title={{tool.title}}
          {{on 'click' (fn this.changeTool tool.id)}}
        >
          {{tool.name}}
        </button>
      {{/each}}
    </div>
  {{/if}}

  {{! template-lint-disable simple-unless}}
  {{#unless (is-equal this.toolId 'pan')}}
    {{#if this.activeTool.options}}
      <h4>
        Options
      </h4>
      <GmmToolOptions
        @tool={{this.activeTool}}
        @updateOptionValue={{this.updateOptionValue}}
      />
    {{/if}}
  {{/unless}}

  <GmmSortableResults
    @popupElement={{this.markupEditPopup}}
    @results={{this.results}}
    @resultsHidden={{this.resultsHidden}}
    @onClearAll={{this.clearResults}}
    @onToggleAll={{this.toggleResults}} as |result|
  >
    <GmmResultItem
      @parent={{this}}
      @data={{result}}
      @editable={{this.editable}}
      @onOverHeader={{fn this.highlightResult result}}
      @onOutHeader={{fn this.resetResultStyle result}}
      @onremove={{this.removeResult}}
      @ontoggle={{this.toggleResult}}
      @onedit={{this.editResult}}
    />
  </GmmSortableResults>

  {{yield}}
</div>