<div
  class='google-maps-markup'
  ...attributes
  {{will-destroy this.beforeRemove}}
  {{did-update this.setup @map}}
>
  <h4>
    Tools
  </h4>

  <div class='form-group tools-group' role='group' aria-label='Tools'>
    {{#each this.markupData.orderedTools as |tool|}}
      <button
        type='button'
        class="btn btn-default {{if (is-equal tool.id this.toolId) 'active'}}"
        title={{tool.title}}
        {{on 'click' (fn this.changeTool tool.id)}}
      >
        {{tool.name}}
      </button>
    {{/each}}
  </div>

  {{! template-lint-disable simple-unless}}
  {{#unless (is-equal this.toolId 'pan')}}
    {{#if this.activeTool.options}}
      <h4>
        Options
      </h4>
      <GmmToolOptions
        @tool={{this.activeTool}}
        @updateOptionValue={{this.updateOptionValue}}
      />
    {{/if}}
  {{/unless}}

  <GmmSortableResults
    @popupElement={{this.markupEditPopup}}
    @results={{this.results}}
    @resultsHidden={{this.resultsHidden}}
    @onClearAll={{this.clearResults}}
    @onToggleAll={{this.toggleResults}} as |result|
  >
    <GmmResultItem
      @parent={{this}}
      @data={{result}}
      @editable={{this.editable}}
      @onOverHeader={{fn this.highlightResult result}}
      @onOutHeader={{fn this.resetResultStyle result}}
      @onRemove={{this.removeResult}}
      @onToggle={{this.toggleResult}}
      @onEdit={{this.editResult}}
    />
  </GmmSortableResults>

  {{yield}}
</div>