{{#if results}}
  <h4>Results</h4>
  <div class="form-group">
    <button type="button" class="btn btn-default" title="Clear Results" onclick={{action onClearAll}}>
      Clear All
    </button>
    <button type="button" class="btn btn-default" title="{{if resultsHidden 'Show' 'Hide'}} Results" onclick={{action onToggleAll}}>
      {{if resultsHidden 'Show' 'Hide'}} All
    </button>
  </div>

  <ul class="list-group results-list">
  {{#sortable-objects sortableObjectList=results sortEndAction='sortEndAction'}}
    {{#each results as |result|}}
      {{#draggable-object content=result isSortable=true}}
        {{markup-result-item data=result editable=editable
          onremove=(action onRemove)
          ontoggle=(action onToggle)
          onover=(action onOver)
          onout=(action onOut)
          onedit=(action onEdit)
        }}
      {{/draggable-object}}
    {{/each}}
  {{/sortable-objects}}
  </ul>
{{/if}}
