{{#if this.results}}
  <h4>
    Results
  </h4>
  <div class='form-group'>
    <button
      type='button'
      class='btn btn-default'
      title='Clear Results'
      onclick={{action this.onClearAll}}
    >
      Clear All
    </button>
    <button
      type='button'
      class='btn btn-default'
      title="{{if this.resultsHidden 'Show' 'Hide'}} Results"
      onclick={{action this.onToggleAll}}
    >
      {{if this.resultsHidden 'Show' 'Hide'}} All
    </button>
  </div>

  <SortableObjects
    @sortableObjectList={{this.results}}
    @sortEndAction={{this.sortEndAction}}
    @tagName='ul'
    class='list-group results-list'
  >
    {{#each this.results as |result|}}
      <DraggableObject
        @content={{result}}
        @isSortable={{true}}
        @dragHandle='.item-header'
        @tagName='li'
        class='list-group-item clearfix'
      >
        <MarkupResultItem
          @data={{result}}
          @editable={{this.editable}}
          @onOverHeader={{fn this.onOver result}}
          @onOutHeader={{fn this.onOut result}}
          @onremove={{this.onRemove}}
          @ontoggle={{this.onToggle}}
          @onedit={{this.onEdit}}
        />
      </DraggableObject>
    {{/each}}
  </SortableObjects>
{{/if}}