{{page-title 'Google Maps Markup'}}

<h2 id='title'>
  google-maps-markup
</h2>

<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-6 col-sm-12'>
      <GoogleMapsMarkup
        @map={{this.map}}
        @editable={{false}}
        @panForOffscreen={{false}}
        @autoResetToPan={{true}}
      />
      <hr />
      <button type='button' class='btn btn-default' {{on 'click' this.save}}>
        Save Markup
      </button>
      {{#if this.exported}}
        <button type='button' class='btn btn-default' {{on 'click' this.load}}>
          Load Markup
        </button>
      {{/if}}
    </div>
    <div class='col-md-6 col-sm-12'>
      <GoogleMap @map={{this.map}} />
    </div>
  </div>
</div>

{{outlet}}