<h4>
  Mode
</h4>
<div class='btn-group form-group' role='group' aria-label='Markup Modes'>
  {{#each this.modes as |item|}}
    <button
      type='button'
      class="btn btn-default {{if (is-equal item.id this.mode) 'active'}}"
      title={{item.title}}
      onclick={{action 'changeMode' item}}
    >
      <i class="fa {{item.icon}}"></i>
      {{item.name}}
    </button>
  {{/each}}
</div>

<h4>
  Tools
</h4>
{{#if (is-equal this.mode 'draw')}}
  <div class='form-group tools-group' role='group' aria-label='Drawing Tools'>
    {{#each this.drawTools as |tool|}}
      <button
        type='button'
        class="btn btn-default {{if (is-equal tool.id this.toolId) 'active'}}"
        title={{tool.title}}
        onclick={{action 'changeTool' tool.id}}
      >
        {{tool.name}}
      </button>
    {{/each}}
  </div>
{{else if (is-equal this.mode 'measure')}}
  <div class='form-group tools-group' role='group' aria-label='Measure Tools'>
    {{#each this.measureTools as |tool|}}
      <button
        type='button'
        class="btn btn-default {{if (is-equal tool.id this.toolId) 'active'}}"
        title={{tool.title}}
        onclick={{action 'changeTool' tool.id}}
      >
        {{tool.name}}
      </button>
    {{/each}}
  </div>
{{/if}}

{{! template-lint-disable simple-unless}}
{{#unless (is-equal this.toolId 'pan')}}
  {{#if this.activeTool.options}}
    <h4>
      Options
    </h4>
    {{gmm-tool-options
      tool=this.activeTool
      updateOptionValue=(action 'updateOptionValue')
    }}
  {{/if}}
{{/unless}}

{{gmm-markup-results
  results=this.results
  resultsHidden=this.resultsHidden
  editable=this.editable
  onClearAll=(action 'clearResults')
  onToggleAll=(action 'toggleResults')
  onToggle=(action 'toggleResult')
  onRemove=(action 'removeResult')
  onOver=(action 'highlightResult')
  onOut=(action 'resetResultStyle')
  onEdit=(action 'editResult')
}}

{{yield}}