<h4>Mode</h4>
<div class="btn-group form-group" role="group" aria-label="Markup Modes">
  {{#each modes as |item|}}
    <button type="button" class="btn btn-default {{if (is-equal item.id mode) 'active'}}" title={{item.title}} onclick={{action 'changeMode' item}}>
      <i class="fa {{item.icon}}"></i>
      {{item.name}}
    </button>
  {{/each}}
</div>

<h4>Tools</h4>
{{#if (is-equal mode 'draw')}}
  <div class="form-group tools-group" role="group" aria-label="Drawing Tools">
    {{#each drawingModes as |tool|}}
      <button type="button" class="btn btn-default {{if (is-equal tool.id drawingMode) 'active'}}" title={{tool.title}} onclick={{action 'changeTool' tool.id}}>
        {{tool.name}}
      </button>
    {{/each}}
  </div>
{{else if (is-equal mode 'measure')}}
  <div class="form-group tools-group" role="group" aria-label="Measure Tools">
    {{#each measureModes as |tool|}}
      <button type="button" class="btn btn-default {{if (is-equal tool.id drawingMode) 'active'}}" title={{tool.title}} onclick={{action 'changeTool' tool.id}}>
        {{tool.name}}
      </button>
    {{/each}}
  </div>
{{/if}}

{{#unless (is-equal drawingMode 'pan')}}
  {{#with activeTool.options as |opt|}}
    {{#if opt}}
      <h4>Options</h4>
      <form class="form-horizontal options-group" onsubmit="return false">
        {{#if opt.text}}
          <div class="form-group">
            <label class="col-sm-2 control-label">Text</label>
            <div class="col-sm-6">
              {{input type='text' value=opt.text placeholder='Change text here' class='form-control'}}
            </div>
          </div>
        {{/if}}
      </form>
    {{/if}}
  {{/with}}
{{/unless}}

{{#if results}}
  <h4>Results</h4>
  <div class="form-group">
    <button type="button" class="btn btn-default" title="Clear Results" onclick={{action 'clearResults'}}>
      Clear All
    </button>
    <button type="button" class="btn btn-default" title="{{if resultsHidden 'Show' 'Hide'}} Results" onclick={{action 'toggleResults'}}>
      {{if resultsHidden 'Show' 'Hide'}} All
    </button>
  </div>

  <ul class="list-group results-list">
    {{#each results as |result|}}
      {{markup-result-item data=result editable=editable onremove=(action "removeResult") ontoggle=(action 'toggleResult')
        onover="highlightResult" onout="resetResultStyle"
        onedit="editResult"}}
    {{/each}}
  </ul>
{{/if}}

{{yield}}
