<h4>Mode</h4>

<div class="btn-group form-group" role="group" aria-label="Markup Modes">
  {{#each modes as |item|}}
    <button type="button" class="btn btn-default {{if (is-equal item.id mode) 'active'}}" title={{item.title}} onclick={{action 'changeMode' item}}>
      <i class="fa {{item.icon}}"></i>
      {{item.name}}
    </button>
  {{/each}}
</div>

{{#unless (is-equal mode 'pan')}}
  <h4>Tools</h4>
  {{#if (is-equal mode 'draw')}}
    <div class="form-group tools-group" role="group" aria-label="Drawing Tools">
      {{#each drawingModes as |mode|}}
        <button type="button" class="btn btn-default {{if (is-equal mode.id drawingMode) 'active'}}" title={{mode.title}} onclick={{action 'changeDrawingMode' mode.id}}>
          {{mode.name}}
        </button>
      {{/each}}
    </div>
  {{else if (is-equal mode 'measure')}}
    <div class="form-group tools-group" role="group" aria-label="Measure Tools">
      {{#each measureModes as |mode|}}
        <button type="button" class="btn btn-default {{if (is-equal mode.id drawingMode) 'active'}}" title={{mode.title}} onclick={{action 'changeDrawingMode' mode.id}}>
          {{mode.name}}
        </button>
      {{/each}}
    </div>
  {{/if}}
{{/unless}}

{{#if results}}
  <h4>Results</h4>
  <div class="form-group">
    <button type="button" class="btn btn-default" title="Clear Results" onclick={{action 'clearResults'}}>
      Clear All
    </button>
    <button type="button" class="btn btn-default" title="{{if resultsHidden 'Show' 'Hide'}} Results" onclick={{action 'toggleResults'}}>
      {{if resultsHidden 'Show' 'Hide'}} All
    </button>
  </div>

  <ul class="list-group results-list">
    {{#each results as |result|}}
      {{markup-result-item data=result editable=editable onremove=(action "removeResult") ontoggle=(action 'toggleResult')
        onover="highlightResult" onout="resetResultStyle"
        onedit="editResult"}}
    {{/each}}
  </ul>
{{/if}}

{{yield}}
