<h4>Mode</h4>
<div class="btn-group form-group" role="group" aria-label="Markup Modes">
  {{#each modes as |item|}}
    <button type="button" class="btn btn-default {{if (is-equal item.id mode) 'active'}}" title={{item.title}} onclick={{action 'changeMode' item}}>
      <i class="fa {{item.icon}}"></i>
      {{item.name}}
    </button>
  {{/each}}
</div>

<h4>Tools</h4>
{{#if (is-equal mode 'draw')}}
  <div class="form-group tools-group" role="group" aria-label="Drawing Tools">
    {{#each drawingTools as |tool|}}
      <button type="button" class="btn btn-default {{if (is-equal tool.id toolId) 'active'}}" title={{tool.title}} onclick={{action 'changeTool' tool.id}}>
        {{tool.name}}
      </button>
    {{/each}}
  </div>
{{else if (is-equal mode 'measure')}}
  <div class="form-group tools-group" role="group" aria-label="Measure Tools">
    {{#each measureTools as |tool|}}
      <button type="button" class="btn btn-default {{if (is-equal tool.id toolId) 'active'}}" title={{tool.title}} onclick={{action 'changeTool' tool.id}}>
        {{tool.name}}
      </button>
    {{/each}}
  </div>
{{/if}}

{{#unless (is-equal toolId 'pan')}}
  {{#if activeTool.options}}
    <h4>Options</h4>
    <form class="form options-group" onsubmit="return false">
      {{#each activeTool.options as |opt|}}
        {{#if (is-equal opt.type 'color')}}
          <div class="form-group">
        {{#unless (is-equal activeTool.icon 'default')}}
            <label>
              {{#if opt.fillOptional}}
                {{input type="checkbox" click=(action "fillColorTransparent") checked=(get activeTool opt.id)}}
              {{/if}}
              {{opt.name}}
            </label>
            {{color-palette selected=(get activeTool opt.id) onselect=(action 'updateOptionValue' activeTool opt.id)}}
        {{/unless}}
        </div>
      {{/if}}
      {{#if (is-equal opt.type 'Marker')}}
        <div class="form-group drop_down">
          <div><label>{{opt.name}}</label></div>
          {{#power-select
            options=activeTool.markers
            selected=activeTool.marker
            searchEnabled=false
            onchange=(action "updateOptionValue" activeTool opt.id)
            as |marker|
          }}
            <span>{{marker.display}}</span>
          {{/power-select}}
          </div>
      {{/if}}
      {{#unless (is-equal activeTool.marker.id 'default')}}
        {{#if (is-equal opt.type 'icon')}}
          <div class="form-group drop_down">
            <div><label>{{opt.name}}</label></div>
            {{#power-select
              options=activeTool.icons
              selected=activeTool.icon
              searchEnabled=false
              onchange=(action "updateOptionValue" activeTool opt.id)
              as |icon|
            }}
            <span>{{icon.display}}</span>
            <i class="material-icons">{{ icon.id }}</i>
            {{/power-select}}
            </div>
        {{/if}}
      {{/unless}}

      {{/each}}
    </form>
  {{/if}}
{{/unless}}

{{gmm-markup-results
  results=results
  resultsHidden=resultsHidden
  editable=editable
  onClearAll=(action 'clearResults')
  onToggleAll=(action 'toggleResults')
  onToggle=(action 'toggleResult')
  onRemove=(action 'removeResult')
  onOver=(action 'highlightResult')
  onOut=(action 'resetResultStyle')
  onEdit=(action 'editResult')}}

{{yield}}
